/* @font-face {
  font-family: "Bimbo";
  src: local("Bimbo"),url(./static/font/Bimbo.woff2) format("woff2");
  font-display: swap;
} */

*{
  font-family: "Paytone One", serif;
}
.bimbo{
  font-family: "Bimbo", serif;
}
