/* @font-face {
  font-family: "Bimbo";
  src: local("Bimbo"),url(./static/font/Bimbo.ttf) format("truetype");
  font-display: swap;
}

*{
  font-family: "Paytone One", serif;
}
.bimbo{
  font-family: "Bimbo", serif;
} */
